	<!-- Edge Boosts and Actions -->
    <h4 class="highlight" style="margin:0px">{{localize "shadowrun6.roll.edge.spending"}}</h4>
    <table style="background-color: transparent; border: 0px">
    	<tr>
    	  <td rowspan="2">
    	    <div class="edge-roll" style="flex: 0.48; margin-right: 10px">
	         <img src="systems/shadowrun6-eden/images/EdgeToken.png" style="border: 0px; height: auto; width: 48px; z-index: 0; position:absolute; filter: drop-shadow(0 0 4px #000000);" />
	         {{log "partRollDialogEdge.html " this }}
		      <label class="edge-value" >{{data.edge}}</label>
	       </div>
	     </td>
	     <td>Boost</td>
	     <td><select name="edgeBoost" class="edgeBoosts">
            <option value="none" data-item-boostid="none"> - </option>
            {{#select edgeBoost}}
            {{#each data.edgeBoosts as |boost id|}}
            <option value="{{boost.id}}" data-item-boostid="{{boost.id}}">{{localize (concat "shadowrun6.edge_boost."
                boost.id)}} - ({{boost.cost}})</option>
            {{/each}}
            <option value="edge_action" data-item-boostid="edge_action">{{localize "shadowrun6.edge_boost.edge_action"}}</option>
            {{/select}}
        </select></td>
    	</tr>
    	<tr>
    		<td>Action</td>
    		<td><select name="edgeAction" class="edgeActions">
             <option value="none" data-item-actionid="none"> - </option>
        </select></td>
    	</tr>
    </table>
	<hr/>
