<form class="{{cssClass}}" autocomplete="off" style="padding-right: 100px">
  	{{#if data.data.genesisID}}
	<h2>{{localize (concat (concat "npc." data.data.genesisID) ".name")}}</h2>
	<h4  style="font-style: italic">{{localize (concat (concat "npc." data.data.genesisID) ".src")}}</h4>
	<div class="data-desc" id="data-desc"/>{{localize (concat (concat "npc." data.data.genesisID) ".desc")}}</div>
	{{else}}
	<h2>{{data.name}}</h2>
	<div class="data-desc" id="data-desc">{{data.description}}</div>
   {{/if}}

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Basics Tab --}}
                 <div class="section" style="margin: 5px">
                    {{> "systems/shadowrun6-eden/templates/parts/npc-attributes.html" attributes=data.data.attributes}}
                    <dl>                    
                        <dt>{{ localize 'shadowrun6.actor.initiative' }}</dt>
                        <dd>{{data.data.initiative.physical.base}} + {{data.data.initiative.physical.dicePool}}d6</dd>
                        <dt>{{ localize 'shadowrun6.actor.initiative_astral' }}</dt>
                        <dd>{{data.data.initiative.astral.base}} + {{data.data.initiative.astral.dicePool}}d6</dd>
                        <dt>{{ localize 'shadowrun6.actor.actions' }}</dt>
                        <dd>1 {{ localize 'shadowrun6.actor.actions_major' }}, {{data.data.initiative.actions}} {{localize 'shadowrun6.actor.actions_minor'}}</dd>
                        {{> "systems/shadowrun6-eden/templates/parts/npc-skills.html" skills=data.data.skills}}
                        {{> "systems/shadowrun6-eden/templates/parts/npc-spells.html" }}
                        {{> "systems/shadowrun6-eden/templates/parts/npc-powers.html" }}
                        {{> "systems/shadowrun6-eden/templates/parts/npc-metamagics.html" }}
                        {{> "systems/shadowrun6-eden/templates/parts/npc-complex-forms.html" }}
                        {{> "systems/shadowrun6-eden/templates/parts/npc-echoes.html" }}
                        {{> "systems/shadowrun6-eden/templates/parts/npc-augmentations.html" }}
                        {{> "systems/shadowrun6-eden/templates/parts/npc-gear.html" }}
                        {{> "systems/shadowrun6-eden/templates/parts/npc-weapons.html" }}
                    </dl>
                </div>
    </section>
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" width="550" />
    
</form>