<form class="{{cssClass}}" autocomplete="off">
  <div class="npc-firstline">
    <span>Editable <label class="switch">
       	<input type="checkbox" data-item-id="{{this.id}}" data-check="data.editmode" {{checked this.data.data.editmode}} type="checkbox" data-dtype="Boolean"/>
         <span class="shadowrun6-slider round"></span>
         </label>
    </span>
  </div>
   {{log this}}
   {{#if data.data.editmode}}
		{{> "systems/shadowrun6-eden/templates/parts/npc_full_edit_sheet.html" }}
   {{else}}
		{{> "systems/shadowrun6-eden/templates/parts/npc_usage_sheet.html" }}
   {{/if}}
</form>