{{log "shadowrun6-spell-sheet-ro.html" data.data}}
<form class="flexcol {{cssClass}}" autocomplete="off" style="padding-right: 100px">
    {{!-- Sheet Body --}}
  	{{#if data.data.genesisID}}
	<h2>{{localize (concat (concat "spell." data.data.genesisID) ".name")}}</h2>
	<h4  style="font-style: italic">{{localize (concat (concat "spell." data.data.genesisID) ".src")}}</h4>
	{{else}}
	<h2>{{item.name}}</h2>
   {{/if}}
   
   <table class="vehicle-stats-table" style="width: 20em">
	<thead>
	<tr>
		<th style="align: center">{{ localize 'shadowrun6.spell.range' }}</th>
		<th>{{ localize 'shadowrun6.spell.type' }}</th>
		<th>{{ localize 'shadowrun6.spell.duration' }}</th>
		<th>{{ localize 'shadowrun6.spell.drain' }}</th>
	</tr>
	</thead>
	<tbody>
	<tr style="text-align:center">
	  <td>{{localize (lookup config.spell_range data.data.data.range )}}</td>
	  <td>{{localize (lookup config.spell_type data.data.data.type )}}</td>
	  <td>{{localize (lookup config.spell_duration data.data.data.duration )}}</td>
	  <td>{{data.data.data.drain}}</td>
	</tr>
	</tbody>
   </table> 
   
  	{{#if data.data.genesisID}}
	<div class="data-desc" id="data-desc"/>
	{{else}}
	<div class="data-desc" id="data-desc">{{data.description}}</div>
   {{/if}}
</form>