<form class="flexcol {{cssClass}}" autocomplete="off">
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <h2><input type="text" value="{{item.name}}" name="name" /></h2>
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="92" width="92" style="background-color: var(--highlight-color)"/>
        <div class="section">
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.lifestyle.type'}}</th>
                    <th>{{localize 'shadowrun6.lifestyle.cost'}}</th>
                    <th>{{localize 'shadowrun6.lifestyle.paid'}}</th>
                    <th>{{localize 'shadowrun6.lifestyle.sin'}}</th>
                </tr>
                    <td>
                        <select name="data.type">
                        {{selectOptions config.LIFESTYLE_TYPE selected=item.data.data.type localize=true}}
                    </select>
                    <td class="centered"> <input class="box" type="number" value="{{item.data.data.cost}}" name="data.cost" /></td>
                    <td class="centered"> <input class="box" type="number" value="{{item.data.data.paid}}" name="data.paid" /></td>
                    <td> <input class="box" type="text" value="{{item.data.data.sin}}" name="data.sin" /></td>
                </tr>
            </table>
            <h3>{{localize 'shadowrun6.item.description'}}</h3>
            <textarea class="box" type="text" name="data.description" cols="50"
                rows="8">{{item.data.data.description}}</textarea>
        </div>
    </section>
</form>