<form class="flexcol {{cssClass}}" autocomplete="off" style="padding-right: 100px">
  	{{#if data.data.genesisID}}
	<h2>{{localize (concat (concat "adeptpower." data.data.genesisID) ".name")}}</h2>
	<h4  style="font-style: italic">{{localize (concat (concat "adeptpower." data.data.genesisID) ".src")}}</h4>
	
	<span><b>{{localize 'shadowrun6.adeptpower.cost'}}:</b> {{item.data.data.cost}} {{localize 'shadowrun6.adeptpower.pp'}}
	{{#if data.data.hasLevel}} {{localize 'shadowrun6.adeptpower.perLevel'}} {{/if}}
	</span>
	<span><b>{{localize 'shadowrun6.adeptpower.activation'}}:</b> {{localize (lookup config.adeptpower_activation item.data.data.activation )}}</span>
	<br/>
	<div class="data-desc" id="data-desc"/>
	{{else}}
	<h2>{{item.name}}</h2>
	<div class="data-desc" id="data-desc">{{data.description}}</div>
   {{/if}}
</form>