<form class="flexcol {{cssClass}}" autocomplete="off" style="padding-right: 100px">
  	{{#if data.data.genesisID}}
	<h2>{{localize (concat (concat "complexform." data.data.genesisID) ".name")}}</h2>
	<h4  style="font-style: italic">{{localize (concat (concat "complexform." data.data.genesisID) ".src")}}</h4>
	{{else}}
	<h2>{{item.name}}</h2>
   {{/if}}
   
   <table class="vehicle-stats-table" style="width: 20em">
	<thead>
	<tr>
		<th>{{localize 'shadowrun6.complexform.fading'}}</th>
		<th>{{localize 'shadowrun6.spell.duration' }}</th>
	</tr>
	</thead>
	<tbody>
	<tr style="text-align:center">
	  <td>{{item.data.data.fading}}</td>
	  <td>{{localize (lookup config.spell_duration item.data.data.duration )}}</td>
	</tr>
	</tbody>
   </table> 
   
  	{{#if data.data.genesisID}}
	<div class="data-desc" id="data-desc"/>
	{{else}}
	<div class="data-desc" id="data-desc">{{data.description}}</div>
   {{/if}}
</form>