<form class="flexcol {{cssClass}}" autocomplete="off" style="padding-right: 100px">
  	{{#if data.data.genesisID}}
	<h2>{{localize (concat (concat "quality." data.data.genesisID) ".name")}}</h2>
	<h4  style="font-style: italic">{{localize (concat (concat "quality." data.data.genesisID) ".src")}}</h4>
	<div class="data-desc" id="data-desc"/>
	{{else}}
	<h2>{{item.name}}</h2>
	<div class="data-desc" id="data-desc">{{data.description}}</div>
   {{/if}}
</form> 