	{{!-- Sheet Header --}}
	<header class="sheet-header" style="display: inline-flex">
		<div>
		  <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="120" width="120" /><br/>
		</div>
		<div class="header-fields" style="flex:3">
			<h1><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'shadowrun6.name' }}" /></h1>
			<div class="npc-settings" style="display:flex">
   {{#switch data.type}}
		{{#case 'Spirit' }} {{> "systems/shadowrun6-eden/templates/parts/npc_usage_spirit.html" }} {{/case}}
   {{/switch}}
			</div>
			<div style="display:flex; flex-direction:row; align-items:center;">
			{{> "systems/shadowrun6-eden/templates/parts/monitors.html" attributes=data.data.attributes}}
			{{> "systems/shadowrun6-eden/templates/parts/edge-token.html"}}
			</div>
		</div>
	</header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

                <div class="section" style="width: 90%; margin: 5px">
                    {{> "systems/shadowrun6-eden/templates/parts/npc-attributes-ro.html" attributes=data.data.attributes}}
                    <dl>
                        <dt>{{ localize 'shadowrun6.actor.initiative' }}</dt>
                        <dd>{{data.data.initiative.physical.base}} + {{data.data.initiative.physical.dicePool}}d6</dd>
                        <dt>{{ localize 'shadowrun6.actor.initiative_astral' }}</dt>
                        <dd>{{data.data.initiative.astral.base}} + {{data.data.initiative.astral.dicePool}}d6</dd>
                        <dt>{{ localize 'shadowrun6.actor.actions' }}</dt>
                        <dd>1 {{ localize 'shadowrun6.actor.actions_major' }}, {{data.data.initiative.actions}} {{localize 'shadowrun6.actor.actions_minor'}}</dd>
                        {{> "systems/shadowrun6-eden/templates/parts/npc-skills.html" skills=data.data.skills}}
                        {{> "systems/shadowrun6-eden/templates/parts/npc-spells.html" }}
                        {{> "systems/shadowrun6-eden/templates/parts/npc-powers.html" }}
                        {{> "systems/shadowrun6-eden/templates/parts/npc-metamagics.html" }}
                        {{> "systems/shadowrun6-eden/templates/parts/npc-complex-forms.html" }}
                        {{> "systems/shadowrun6-eden/templates/parts/npc-echoes.html" }}
                        {{> "systems/shadowrun6-eden/templates/parts/npc-augmentations.html" }}
                        {{> "systems/shadowrun6-eden/templates/parts/npc-gear.html" }}
                        {{> "systems/shadowrun6-eden/templates/parts/npc-critterpowers.html" }}
                        {{> "systems/shadowrun6-eden/templates/parts/npc-weapons.html" }}
                    </dl>
                </div>
    </section>