<section>
  <div style="column-count: 2; margin-right: 5px;">
  {{> "systems/shadowrun6-eden/templates/parts/section-skills-action.html" skills=data.data.skills}}
  {{> "systems/shadowrun6-eden/templates/parts/section-skills-knowledge.html" skills=data.data.skills}}
  {{> "systems/shadowrun6-eden/templates/parts/section-skills-language.html" skills=data.data.skills}}
  </div>
</section>