<table class="vehicle-stats-table" style="width: 20em">
	<thead>
	<tr>
		<th colspan="3" style="align: center">{{ localize
			'shadowrun6.section.vehicles.column.handling' }}</th>
		<th colspan="3">{{ localize 'shadowrun6.section.vehicles.column.acc' }}</th>
		<th colspan="3">{{ localize 'shadowrun6.section.vehicles.column.spdi' }}</th>
		<th>{{ localize 'shadowrun6.section.vehicles.column.tspd' }}</th>
		<th>{{ localize 'shadowrun6.section.vehicles.column.bod' }}</th>
		<th>{{ localize 'shadowrun6.section.vehicles.column.arm' }}</th>
		<th>{{ localize 'shadowrun6.section.vehicles.column.pil' }}</th>
		<th>{{ localize 'shadowrun6.section.vehicles.column.sen' }}</th>
		<th>{{ localize 'shadowrun6.section.vehicles.column.sea' }}</th>
		<th colspan="2">&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	<tr style="text-align:center">
	  <td><input name="data.handlOn"  type="text" value="{{data.data.handlOn}}" data-dtype="Number" style="text-align:right"/>
	  <td>/</td>
	  <td><input name="data.handlOff" type="text" value="{{data.data.handlOff}}" data-dtype="Number" style="text-align:left"/></td>
	  <td><input name="data.accOn"    type="text" value="{{data.data.accOn}}" data-dtype="Number" style="text-align:right"/></td>
	  <td>/</td>
	  <td><input name="data.accOff"   type="text" value="{{data.data.accOff}}" data-dtype="Number" style="text-align:left"/></td>
	  <td><input name="data.spdiOn"   type="text" value="{{data.data.spdiOn}}" data-dtype="Number" style="text-align:right"></td>
	  <td>/</td>
	  <td><input name="data.spdiOff"  type="text" value="{{data.data.spdiOff}}" data-dtype="Number" style="text-align:left"></td>
	  <td><input name="data.tspd" type="text" value="{{data.data.tspd}}" data-dtype="Number"></td>
	  <td><input name="data.bod"  type="text" value="{{data.data.bod}}" data-dtype="Number"></td>
	  <td><input name="data.arm"  type="text" value="{{data.data.arm}}" data-dtype="Number"></td>
	  <td><input name="data.pil"  type="text" value="{{data.data.pil}}" data-dtype="Number"></td>
	  <td><input name="data.sen"  type="text" value="{{data.data.sen}}" data-dtype="Number"></td>
	  <td><input name="data.sea"  type="text" value="{{data.data.sea}}" data-dtype="Number"></td>
	</tr>
	</tbody>
</table>